html {
    background-color: black;
}

.figure {
    text-align: center;
    margin-top: 42px;
}

section {
    align-items: center;
    justify-content: center;
}

h1 {
    color: white;
    font-family: 'IBM Plex Sans', Arial;
    font-size: 32px;
    font-weight: 600;
    line-height: 42px;
    letter-spacing: 0em;
    text-align: center;
    margin-top: 73px;
}

p {
    color: #9C9C9C;
    font-family: 'IBM Plex Sans';
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: center;
    margin-top: 10px;
}

ul {
    display: flex;
    justify-content: space-between;
    max-width: 700px;
    margin: 0 auto;
    margin-top: 61px;
    margin-bottom: 0;
    overflow: hidden;
}

img {
    border-radius: 8px;
    overflow: hidden;
}

li img:hover{
    max-width: 160px;
    max-width: 160px;
    border-radius: 8px;
    transform: scale(1.3);
    color: white;
}

button {
    font-family: IBM Plex Sans;
    font-size: 16px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: center;
    background-color: black;
    color: white;
    border: 1px solid white;
    width: 206px;
    height: 50px;
    border-radius: 8px;
    margin-left: 672px;
    margin-top: 102px;   
}

button:hover {
    color: black;
    background-color: white;
}