html {
    background-color: black;
}

.figure {
    text-align: center;
    margin-top: 42px;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    color: white;
    font-family: 'IBM Plex Sans', Arial;
    font-size: 32px;
    font-weight: 600;
    line-height: 42px;
    letter-spacing: 0em;
    text-align: center;
    margin-top: 73px;
}

li div {
    width: 160px;
    height: 160px;
    overflow: hidden;
    border-radius: 8px;
}

p {
    color: #9C9C9C;
    font-family: 'IBM Plex Sans';
    font-size: 14px;
    font-weight: 600;
    text-align: center;
}

ul {
    display: flex;
    justify-content: space-between;
    width: 700px;
    margin: 0 auto;
    margin-top: 61px;
}

img {
    border-radius: 8px;
    overflow: hidden;
    transition: 1s;
}

li div img:hover{
    border-radius: 8px;
    transform: scale(1.3);
    color: white;
}

button {
    font-family: IBM Plex Sans;
    font-size: 16px;
    font-weight: 500;
    line-height: 21px;
    background-color: black;
    color: white;
    border: 1px solid white;
    width: 206px;
    height: 50px;
    border-radius: 8px;
    margin-top: 30px;
}

button:hover {
    color: black;
    background-color: white;
}

li div:hover ~ p {
    color: white
}